* {
    text: Arial;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #4c73ff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-box {
    background: white;
    width: 350px;
    padding: 30px 30px 40px 30px;
    border-radius: 12px;
    box-shadow: 0 6px 15px rgba(0,0,0,0.15);
    text-align: center;
    cursor: pointer;
}

.input-field {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.password-wrapper {
    position: relative;
    width: 100%;
}
.password-wrapper .hide-eye {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.forgot {
    display: block;
    margin: 5px 0 15px 0;
    font-size: 14px;
    text-decoration: none;
    color: #2563eb;
    cursor: pointer;
}

.login-button {
    width: 100%;
    padding: 12px;
    background: #2563eb;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 15px;
    cursor: pointer;
}
.login-button:hover {
    box-shadow: 5px 5px 5px rgba(0,0,0,0.15);
    opacity: 0.15px;
}
.login-button:active {
    background-color: white;
    color: #2563eb;
    
}

.signup {
    font-size: 14px;
    color: gray;

}
.signup a {
    color: #2563eb;
    text-decoration: none;
}

.divider {
    content: 'Or';
    margin: 15px 0;
    color: #666;
    font-size: 14px;
}

.facebook-button, .google-button {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 6px;
    margin: 6px 0;
    cursor: pointer;
    font-size: 15px;
}

.facebook-button {
    width: 100%;
    background-color: #3b5998;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    
    
}
.facebook-button:hover {
    box-shadow: 5px 5px 5px rgba(0,0,0,0.15);
    opacity: 0.15px;
}
.facebook-button:active {
    background-color: white;  
    color: #3b5998;
}
.facebook-icon {
    width: 20px;
    height: 20px;
    margin-left: 15px;
    margin-right: 15px;
    justify-content: start;
    display: flex;
    cursor: pointer;

}

.google-button {
    background: white;
    border: 1px solid #ccc;
    width: 100%;
    padding: 12px;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    color: gray;
    cursor: pointer;

}
.google-button:hover {
    box-shadow: 5px 5px 5px rgba(0,0,0,0.15);
    opacity: 0.15px;

}
.google-button:active {
    background: 1px solid #ccc;
    border: white;
}
.google-icon {
    width: 20px;
    height: 20px;
    margin-left: 15px;
    margin-right: 15px;
    justify-content: start;
    display: block;
    cursor: pointer;

}



